name: "build and deploy Speckle functions"
on:
  workflow_dispatch:
  push:
    tags:
      - "*"

jobs:
  publish-automate-function-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7

      # --- SOLUZIONE DEFINITIVA ---
      # Creiamo un file JSON fittizio nella directory del progetto,
      # dove abbiamo sempre i permessi di scrittura.
      - name: Create dummy schema file
        run: echo "{}" > functionSchema.json

      - name: Speckle Automate Function - Build and Publish
        uses: specklesystems/speckle-automate-github-composite-action@0.8.1
        with:
          speckle_automate_url: ${{ env.SPECKLE_AUTOMATE_URL || vars.SPECKLE_AUTOMATE_URL || 'https://automate.speckle.dev' }}
          speckle_token: ${{ secrets.SPECKLE_FUNCTION_TOKEN }}
          speckle_function_id: ${{ secrets.SPECKLE_FUNCTION_ID }}
          # Passiamo il percorso relativo del nostro file fittizio.
          speckle_function_input_schema_file_path: "functionSchema.json"
          speckle_function_command: "python -u main.py run"
